---
import ArticleCard from "@components/ArticleCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { Article } from "@types";

const articles = await Astro.glob<Article>("./*.md");
---

<BaseLayout title="Articles">
    <main class="flex flex-col gap-4">
        {articles.map((article) => <ArticleCard article={article.frontmatter} href={article.url} /> )}
    </main>
</BaseLayout>