---
import CenteredLayout from "@layouts/CenteredLayout.astro";

const gifUrls = [
    "//c.tenor.com/MA2rJEKr_IEAAAAC/milk-car.gif",
    "//c.tenor.com/AimptPv3QIsAAAAC/get-real-get-real-potaro.gif",
    "//c.tenor.com/Rlj-7QD5YiQAAAAC/shower-duolingo.gif",
    "//c.tenor.com/NGMujVjZ7IcAAAAd/hosting-mexico-registro-de-dominios-mexico.gif",
    "//c.tenor.com/l3oHHAUd0rIAAAAC/squidward-tonight-glass-break.gif", 
    "//media.discordapp.net/attachments/212810886027542528/905132631342071898/RDT_20211101_0830156527447195501962361.gif",
    "//media.discordapp.net/attachments/824921608560181261/956458863178170388/IMG_8519.gif"
];
---

<CenteredLayout title="404">
    <p class="md:(text-8xl) lt-md:(text-6xl) font-medium">Oops!</p>
    <p class="md:(text-2xl) lt-md:(text-xl) text-subtext-primary">That route is invalid.</p>
    <img class="mt-4 rounded-lg" src={gifUrls[Math.floor(Math.random() * gifUrls.length)]}/>
</CenteredLayout>