---
import CenteredLayout from "@layouts/CenteredLayout.astro";

const gifUrls = [
    "//media.tenor.com/p5yiSnz1iwcAAAAd/meme-backroom.gif",
    "//64.media.tumblr.com/77f9eea4fadea070320cffd07e157e09/c104b92aa8c4e1d4-3a/s500x750/35a85ecf328f568fe43ea48d3c7949b3653b023c.gif",
    "//thumbs.gfycat.com/SafeWholeCoyote-size_restricted.gif",
    "//media.tenor.com/L0paiCTYhSIAAAAM/backrooms-smiler.gif"
];
---

<CenteredLayout title="404?">
    <p class="md:(text-8xl) lt-md:(text-6xl) font-medium">you fool!</p>
    <p class="md:(text-2xl) lt-md:(text-xl) text-subtext-primary">you ended up in the backrooms.</p>
    <img class="mt-4 rounded-lg" src={gifUrls[Math.floor(Math.random() * gifUrls.length)]}/>
</CenteredLayout>
