---
import BeefLogo from "@components/BeefLogo.astro";
import CenteredLayout from "@layouts/CenteredLayout.astro";
---

<CenteredLayout title="Home">
    <BeefLogo center={true} />
    <p class="md:(text-8xl) lt-md:(text-6xl) font-medium">Hello world!</p>
    <p class="md:(text-2xl) lt-md:(text-xl) text-subtext-primary">I'm Beef, and this is my site!</p>
    <p><a href="/about">About me</a></p>
</CenteredLayout>