---
import BeefLogo from "@components/BeefLogo.astro";
import CenteredLayout from "@layouts/CenteredLayout.astro";
---

<CenteredLayout title="Home">
    <BeefLogo center={true} />
    <p class="md:(text-8xl) lt-md:(text-6xl) font-medium">haii! :3 </p>
    <p class="md:(text-2xl) lt-md:(text-xl) text-subtext-primary">puh here!- Welcome to my (stolen) website!</p>
    <p><a href="/about">about the puhber</a></p>
</CenteredLayout>
