---
import { Account } from "@types";
import AccountCard from "@components/AccountCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const accounts: Account[] = [
    {
        platform: "Discord",
        username: "puhbu",
        url: "//discord.com/users/763525801945071637",
    },
    {
        platform: "GitHub",
        username: "puh",
        url: "//github.com/poob1",
    },
    {
        platform: "Steam",
        username: "puh",
        url: "//steamcommunity.com/id/puhbu",
    },
];
---

<BaseLayout title="Links">
    <main class="flex flex-col gap-4">
        {accounts.map((account: Account) => <AccountCard account={account} href={account.url} /> )}
    </main>
</BaseLayout>
