---
import { Account } from "@types";
import AccountCard from "@components/AccountCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const accounts: Account[] = [
    {
        platform: "Discord",
        username: "Beef#5340",
        url: "//discord.com/users/257109471589957632",
    },
    {
        platform: "Twitter",
        username: "Beef_ers",
        url: "//twitter.com/Beef_ers",
    },
    {
        platform: "GitHub",
        username: "Beefers",
        url: "//github.com/Beefers",
    },
    {
        platform: "Steam",
        username: "beeffers",
        url: "//steamcommunity.com/id/beeffers",
    },
];
---

<BaseLayout title="Links">
    <main class="flex flex-col gap-4">
        {accounts.map((account: Account) => <AccountCard account={account} href={account.url} /> )}
    </main>
</BaseLayout>