---
import { Account } from "@types";
import { Icon } from "astro-icon";
import Card from "@components/Card.astro";

export interface Props {
    account: Account;
    href?: string;
}

const { platform, username } = Astro.props.account;
const { href } = Astro.props;
---

<Card href={href} newTab>
    <div class="flex flex-row gap-4 items-center">
        <Icon class="w-16 h-16" pack="simple-icons" name={platform.toLowerCase().split(" ").join("")} />
        <div>
            <h1>{platform}</h1>
            <p>{username}</p>
        </div>
    </div>
</Card>