---
import { PageRoute } from "src/def";
import NavBarItem from "./NavBarItem.astro";
const { routes } = Astro.props;
---

<div class="bg-cat-mantle rounded-full lg:h-full <lg:w-full lg:my-auto <lg:mx-auto p-2 flex lg:flex-col <lg:flex-row items-center">
    {routes.map((route: PageRoute) => function() {
        if(!route.icon) return;
        return (
            <NavBarItem href={route.path} src={route.icon}/>
        )
    })}
</div>