---
import { Icon } from "astro-icon";

export interface Props {
    name: string;
	href: string;
    src: string;
}

const { name, href, src } = Astro.props;

const currentPath = Astro.url.pathname;
const fixedPath =
    currentPath.length > 1 && currentPath.endsWith("/")
        ? currentPath.slice(0, -1)
        : currentPath;
---

<a href={href} class={`transition-opacity flex flex-row items-center gap-1 hover:(opacity-50) ${fixedPath === href ? "text-peach!" : ""}`}>
    <Icon class="md:(w-8 h-8) lt-md:(w-10 h-10)" pack="ic" name={src} />
    <span class="lt-md:(display-none)">{name}</span>
</a>