---
import { PageRoute } from "@types";
import NavBarItem from "@components/NavBarItem.astro";

export interface Props {
	routes: PageRoute[];
}

const { routes } = Astro.props;
---

<div class="bg-mantle p-2 flex flex-row justify-center md:(gap-4) lt-md:(gap-2)">
    {routes.map((route: PageRoute) => route.icon && <NavBarItem name={route.name} href={route.path} src={route.icon}/> )}
</div>