---
import { PageRoute } from "src/def";
import NavBarItem from "./NavBarItem.astro";

export interface Props {
	routes: PageRoute[];
}

const { routes } = Astro.props;
---

<div class="bg-mantle gap-2 p-2 flex md:(flex-col) lt-md:(flex-row sticky)">
    {routes.map((route: PageRoute) => function() {
        if(!route.icon) return;
        return (
            <NavBarItem href={route.path} src={route.icon}/>
        )
    })}
</div>