---
import { Project } from "@types";
import Card from "@components/Card.astro";
import ProjectCardAttribute from "@components/ProjectCardAttribute.astro";

export interface Props {
    project: Project;
    href?: string;
}

const { name, description, language, stargazers_count, updated_at, license } = Astro.props.project;
const { href } = Astro.props;
---

<Card href={href} newTab>
    <div class="flex flex-row p-[0.2rem] gap-1 whitespace-nowrap overflow-x-auto scrollbar scrollbar-rounded scrollbar-h-1 scrollbar-track-color-mantle scrollbar-thumb-color-crust">
        <ProjectCardAttribute pack="akar-icons" icon="shipping-box-02" text={language || "Unknown Language"} />
        <ProjectCardAttribute pack="ic" icon="round-linear-scale" text={license?.name || "Unlicensed"} />
        <ProjectCardAttribute pack="ic" icon="round-star" text={stargazers_count.toString()} />
    </div>
    <div>
        <h1>{name}</h1>
        <p>{description}</p>
    </div>
</Card>